<div class='container'>
<br>
<div class="d-flex justify-content-between align-items-center">
  <h1>Movimientos <%= @bank.bank %></h1>
  <div class="btn-change-name">
  <%= link_to "Cambia tu nombre de cuenta", edit_bank_account_path(@bank), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModal'} %>

</div> <div> <%= link_to "Borrar cuenta",
              bank_account_path(@bank),
              method: :delete,
              class: "text-danger",
              data: { confirm: "¿Estás seguro que quieres eliminar esta cuenta?" } %>
  </div>
</div>
<h4><%= @bank.name %></h4>
<br>
<%= form_tag bank_account_movements_path, method: :get do %>
<div class="d-flex justify-content-between align-items-center">
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Encuentra un movimiento"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
</div>
<% end %>

<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>


<%@movements.each_with_index do |movement, i|%>
  <tr>
    <th scope="row"><%= i+1 %></th>
    <td><%= movement['post_date'].to_date%></td>
    <td><%= number_to_currency(movement['amount'], :precision => 0, :delimiter =>'.')%></td>
    <td><%= movement['description']%></td>
  </tr>
<% end %>


  </tbody>
</table>
<%= link_to "Volver", :back, class: "btn btn-gradient" %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edita tu nombre de cuenta</h5>
        <button type="button" class="close btn-cierre" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@bank) do |f| %>
          <br>
          <%= f.input :name, :label => 'Nombre de tu cuenta' %>
          <%= f.button :submit, "Cambiar nombre", class: 'btn-submit'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
