<div class='container'>
<br>
<h1>Movimientos <%= @bank.bank %></h1>
<%= button_to 'Guardar movimientos', bank_account_saving_path, method: :get, :remote=>true %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>


<%@movements.each_with_index do |movement, i|%>
  <tr>
    <th scope="row"><%= i+1 %></th>
    <td><%= movement['post_date'].to_date%></td>
    <td><%= number_to_currency(movement['amount'], :precision => 0, :delimiter =>'.')%></td>
    <td><%= movement['description']%></td>
  </tr>
<% end %>


  </tbody>
</table>
</div>
