<br>
<div class='container'>
<h1>Movimientos</h1>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Banco</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Categoría</th>
    </tr>
  </thead>
  <tbody data-controller="edit-category">
    <% @movements.each_with_index do |movement, i| %>
    <tr>
      <% categories = Category.all %>
      <th scope="row"><%= i+1 %></th>
      <td><%= BankAccount.where(id: movement.bank_account_id).first.bank %></td>
      <td><%= movement['post_date'] %></td>
      <td><%= number_to_currency(movement['amount'], :precision => 0, :delimiter =>'.') %></td>
      <td><%= movement['description'] %></td>
      <%# category = Category.where(id: movement.category_id).first.name %>
      <td><%= simple_form_for movement, html: { data: { edit_category_target: "form", action: "change->edit-category#update" } } do |f| %>
          <%= f.input :category_id, collection: categories, label: false, selected: movement.category_id %>
      <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<% if @movements.size.zero? %>
  <h5 class='text-center'>Debes cargar los movimientos de cada banco haciendo click sobre el nombre del banco en la página de balances.</h5>
<% end %>
</div>
