<br>
<div class="row">
  <div class="col-sm-9">
    <div class="card text-center">
      <div class="card-header">
        Todos los bancos
      </div>
      <div class="card-body">

        <%= line_chart @banks.map { |bank|
          {name: bank.bank, data: Movement.where(user_id: current_user.id, bank_account_id: bank.id).group_by_day(:post_date).count}
        } %>
        <a href="<%= movements_path %>" class="btn btn-primary btn-sm">Ver detalles</a>
      </div>
    </div>
    <br>
    <% @banks.each do |bank| %>
      <div class="card text-center">
        <div class="card-header">
          <%= bank.bank %>
        </div>
        <div class="card-body">

          <%= line_chart Movement.where(user_id: current_user.id, bank_account_id: bank.id).group_by_day(:post_date).count %>
          <a href="<%= bank_account_movements_path(bank) %>" class="btn btn-primary btn-sm">Ver detalles</a>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
