<br>
<div class="container">
  <div>
    <h1><%= "Hola #{current_user.name}!"%></h1>
  </div>
  <div>
  <% @banks.each_with_index do |bank, index| %>
    <h3>Cuenta: <%= bank.name %></h3>
    <h5><%= bank.account_type %>, número <%= bank.account_number %>, <%= bank.bank %></h5>
    <h2>Balance: <%= @balance[index] %></h2>
    <br>
  <% end %>
  </div>
<%= link_to "Agrega tu banco", new_bank_account_path, class: "btn btn-flat" %>
<br>
</div>
