<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-devise">
        <br>
        <%= link_to "Cómo crear links y API keys ", instructions_path %>
        <% banks = ['Banco de Chile', 'Santander', 'Itaú', 'BICE', 'Scotiabank', 'BCI', 'Banco Estado', 'Security'] %>
        <%= simple_form_for(@bank) do |f| %>
          <br>
          <%= f.input :name, :label => 'Nombre de tu cuenta' %>
          <%= f.input :bank, collection: banks %>
          <%= f.input :link %>
          <%= f.input :pk %>
          <%= f.input :sk %>
          <%= f.button :submit, "Crear cuenta", class: 'btn-submit'%>
        <% end %>
        <%= link_to "Volver", :back, class: "btn btn-gradient" %>
      </div>
    </div>
  </div>
</div>
