<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-8">
      <div class="form-devise">
        <br>
        <h2>Categorías</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoría</th>
              <th scope="col" class="text-end">Editar/Borrar</th>
            </tr>
          </thead>
          <tbody>
          <% current_user.categories.each_with_index do |category, index| %>
            <tr>
              <td scope="row"><%= index + 1 %></td>
              <td><%= category.name %></td>
              <td class="text-end"><%= link_to "", edit_category_path(category), remote: true, class: "fa fa-edit" %>
              <%= link_to "",
                      category_path(category),
                      method: :delete,
                      class: "fa fa-trash ms-3 text-danger",
                      data: { confirm: "¿Quieres eliminar esta categoría?" } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to "Crear nueva categoría", new_category_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModal', class: "nav-link btn-ctgy"} %>
        <%= link_to "Volver", bank_accounts_path, class: "btn btn-gradient" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal new -->

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Modal edit -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
