<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-8">
      <div class="form-devise">
        <br>
        <h2>Categorías</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoría</th>
              <th scope="col" class="text-end">Editar/Borrar</th>
            </tr>
          </thead>
          <tbody>
          <% @categories.each_with_index do |category, index| %>
            <tr>
              <td scope="row"><%= index + 1 %></td>
              <td><%= category.name %></td>
              <td class="text-end"><%= link_to "", edit_category_path(category), { class: "fa fa-edit" } %>
              <%= link_to "",
                      category_path(category),
                      method: :delete,
                      class: "fa fa-trash ms-3 text-danger",
                      data: { confirm: "¿Quieres eliminar esta categoría?" } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to "Crear nueva categoría", new_category_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModal', class: "nav-link btn-ctgy"} %>
        <%= link_to "Volver", :back, class: "btn btn-gradient" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crea una nueva categoría</h5>
        <button type="button" class="close btn-cierre" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Crear nueva categoría</h3>
        <%= simple_form_for(@category) do |f| %>
          <%= f.input :name, :label => 'Nombre' %>
          <%= f.button :submit, 'Crear', class: 'btn-submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
